.section-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../../images/backgrounds/home.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }
  &::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: backgroundShow 2s ease-in forwards;
  }
}

@keyframes backgroundShow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home-intro {
  &__container {
    height: 400px;
    max-width: 560px;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
  }
  &__picture {
    width: 150px;
    height: 150px;
    background: url("../../images/backgrounds/portrait.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-radius: 50%;
    border-image-source: linear-gradient(to left, #00c853, #b2ff59);
  }
}

.next-page--arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  border: solid wheat;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  40% {
    -moz-transform: translateY(-30px) rotate(45deg);
    -ms-transform: translateY(-30px) rotate(45deg);
    -webkit-transform: translateY(-30px) rotate(45deg);
    transform: translateY(-30px) rotate(45deg);
  }
  60% {
    -moz-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    -webkit-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
