$bg-normal: "https://b-gold-cdn.xitu.io/v3/static/img/normal.0447fe9.png";
$bg-username: "https://b-gold-cdn.xitu.io/v3/static/img/greeting.1415c1c.png";
$bg-password: "https://b-gold-cdn.xitu.io/v3/static/img/blindfold.58ce423.png";

.g-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  overflow: visible;
  height: 450px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  z-index: 9999;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  line-height: 1.5em;
  background: hsla(67, 95%, 95%, 1);
  border: solid 5px hsla(0, 95%, 35%, 1);
  text-align: center;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  input {
    outline: none;
    padding: 10px;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
  }
  input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 80px;
    height:45px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    &:hover{
      background: coral;
            color: #fff;
    }
  }
}

img {
  position: absolute;
  top: -20%;
  left: 50%;
  width: 120px;
  height: 95px;
  transform: translate(-50%, 0);
}

.g-username {
  margin-bottom: 10px;

  img {
    display: none;
    width: 120px;
    height: 113px;
  }
}

.g-username:focus-within ~ img {
  display: none;
}

.g-username:focus-within {
  input {
    border-color: #007fff;
  }
  img {
    display: block;
  }
}

.g-email {
  margin-bottom: 10px;

  img {
    display: none;
    width: 103px;
    height: 84px;
    top: -15%;
  }
}

.g-email:focus-within ~ img {
  display: none;
}

.g-email:focus-within {
  input {
    border-color: #007fff;
  }
  img {
    display: block;
  }
}
.g-textarea {
  height: 150px;
  overflow-y: scroll;
  outline: none;
  padding: 10px;
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 15px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
}
