.picture-modal {
  &__overlay {
    position: fixed;
    background-color: aliceblue;
    z-index: 30;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container {
    height: auto;
    width: auto;
  }
  &--img {
    object-fit: contain;
    width: 70vw;
    max-height: 90vh;
  }
}
