.portfolio {
  padding-bottom: 30px;
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: scroll;
  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: -2;
    background-image: url("../../images/backgrounds/polygons.jpg");
  }
}

.project-showcase {
  &__container {
    height: auto;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
  }
  &__wrapper {
    width: 800px;
    height: 450px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    &:nth-child(odd) {
      border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	}
	&:nth-child(even){
		border-image-source: linear-gradient(to left, #00c853, #b2ff59);
	}
  }
  &--pic {
    // background-color: aliceblue;
    width: 450px;
    margin-right: 2em;
  }
  &__article {
    display: flex;
    flex-direction: column;
  }
  &__description {
  }
  &__role {
  }
  &__ {
  }
}

// .border-professioanal {
//   border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
// }
.border-personal {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}
