.portfolio {
  padding-bottom: 30px;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: scroll;
  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: -3;
    background-image: url("../../images/backgrounds/polygons.jpg");
  }
}

.project-showcase {
  &__container {
    height: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    a {
      color: #cd4332;
      font-size: large;
      font-weight: 700;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @media screen and (max-width: 660px) {
      flex-direction: column;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 660px) {
      flex-direction: column;
    }
    transition: all ease-in-out;
  }
  &__wrapper {
    margin-bottom: 40px;
    list-style: none;
    max-width: 1000px;
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    border: 5px solid;
    border-image-slice: 1;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    &:nth-child(odd) {
      border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    }
    &:nth-child(even) {
      border-image-source: linear-gradient(to left, #00c853, #b2ff59);
    }
  }
  &--pic {
    max-width: 450px;
    width: 100%;
    height: 100%;
    margin-right: 2em;
  }
  &__article {
    display: flex;
    flex-direction: column;
  }
  &__description {
    margin-bottom: 10px;
  }
  &__subheading {
    font-size: larger;
    font-weight: 550;
  }
  &__techstack {
    border-bottom: 3px solid rgba(226, 172, 23, 0.212);
    line-height: 1.8;
  }
}

.border-personal {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}

.card__side--back {
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
}
.card__side--back-0 {
  background-image: linear-gradient(
    to right bottom,
    #eca026,
    rgba(185, 19, 19, 0.911)
  );
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #9c1283, #aa2b15);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #44b2e6, #05044d);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #6b330e, #978f1c);
}
.card__side--back-4 {
  background-image: linear-gradient(to right bottom, #396b2a, #1b2e21);
}
.card__side--back-5 {
  background-image: linear-gradient(to right bottom, #838383, #2e2e2e);
}
.card__side {
  font-size: 2rem;
  height: 30rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__side {
  color: #fff;
  font-size: 2rem;
  height: 30rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &--backheading {
    border-bottom: 3px solid whitesmoke;
    text-align: center;
    order:1;
  }
  &--backtext {
    padding-left: 0;
    order:2;
    @media screen and (max-width:660px){
      order:4;
    }
  }
  &--backbutton {
    order:3;
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    margin: 10px auto;
    a {
      color: white;
    }
    &:hover {
      transform: translateY(-3px);
    }
  }
  &--bulletpoint {
    font-size: 15px;
    text-align: left;
    padding: 6px;
  }
  i {
    font-size: 15px;
  }
}
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  overflow-y: hidden;
  @media screen and (min-width: 661px) {
    height: 350px;
  }
  @media screen and (max-width: 660px) {
    height: 200px;
    margin-bottom: 20px;
  }
  border-radius: 2px;
}
