.nav-bar {
  color: white;
  padding: 0px 5px;
  position: fixed;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  z-index: 20;
  font: bold 14px/1.4 "Open Sans", arial, sans-serif;
  font-weight: 700;
  overflow-y: hidden;
  &__container {
    &--web {
      margin: 0 auto;
      height: auto;
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      ul {
        margin: auto 0;
        padding: 0;
        list-style: none;
        display: table;
        width: 600px;
        text-align: center;
      }
      li {
        display: table-cell;
        position: relative;
        padding: 5px 0;
      }
      a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
        display: inline-block;
        padding: 15px 20px;
        position: relative;
        cursor: pointer;
      }
      a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: LightCoral;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }
}
.nav-bar--mobile{
  display: none;
}
@media only screen and (max-width: 440px) {
  .nav-bar {
    background-color: white;
    height: 58px;
    display: none
  }
  // .nav-bar__container {
  //   &--mobile {
  //     display: block;
  //   }
  //   &--web {
  //     display: none;
  //   }
  // }
  .nav-bar--mobile{
    display: block;
  }
}


@media only screen and (min-width: 440px) {
  .nav-bar__container {
    margin-top: -5px;
  }
  .nav-bar.sticky {
    a {
      color: rgb(156, 150, 150);
      &:after {
        background: rgb(156, 150, 150);
      }
    }
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    margin: 0;
  }
}
